SMTP_HOST=smtp.blablabla.com
SMTP_PORT=587
SMTP_USER=no-reply@blablabla.com
SMTP_PASS=blablabla
SMTP_FROM=no-reply@blablabla.com
SMTP_TLS=true
SITE_URL=https://vps1.blablabla.com
REG_TOKEN_HOURS=24
JWT_ALGORITHM=HS256
JWT_SECRET_KEY=Qm9zZV9yYW5kb21fS2V5X2V4YW1wbGVfN2Y2ZDk2ZWI3MmQBLABLABLA
